.body{
    background-color: #000;
    color: #fff;
}

.btn-close{
    background-color: white;
    color: white;
}

.modal-footer{
    background-color: #000;
}

button.btn.btn-secondary{
    background-color: #000;
    transition: .4s ease;
}

button.btn.btn-secondary:hover{
    background-color: #fff;
    color: #000;
}

button.btn.btn-primary{
    background-color: #000;
    border:1px solid #fff;
    transition: .4s ease;
}

button.btn.btn-primary:hover{
    background-color: #fff;
    color: #000;
}

